<div class="container mr-auto ml-auto mt-5">
  <h1>Which pokemon you want know about?</h1>
  <mat-form-field appearance="legacy" color="warn">
    <!-- auto complete -->
    <mat-label>Name</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      [matAutocomplete]="auto"
      matInput
      [(ngModel)]="inputPokemonName"
      (ngModelChange)="keyDown($event)"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- button -->
  <button
    mat-raised-button
    color="warn"
    class="ml-3"
    (click)="findButton($event)"
  >
    Find
  </button>
  <!-- card -->

  <div class="awnser mt-5">
    <app-pokemon-card
    *ngFor="let pokemon of listPokemon"
    [pokemon]="pokemon"
    (pokemonFound)="pokemonFound($event)"
    ></app-pokemon-card>
    <div *ngIf="isLoading">
      <mat-spinner color="warn"></mat-spinner>
    </div>
  </div>
</div>
